{
  "title": "{{ message.title }}",
  "body": "{{ message.message | safe | replace('\n', '\\n') }}",
  "tags": "{% for key, value in message.commonLabels.items() %}{{ key }}={{ value }}{% if not loop.last %},{% endif %}{% endfor %}"
}
